* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

button, span{
    cursor: pointer;
}

body {
    color: #F4EEE0;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#nav-bar {
    background-color: #7286D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.nav-links {
    display: flex;
}

.default-logo{
    width: 150px;
    height: 50px;
    object-fit: cover;
}

.nav-links li {
    padding: 0px 10px;
}

.nav-links li a {
    color: #FFF2F2;
}

.hamburger {
    display: none;
}

.hamburger.close {
    display: none;
}

.hamburger.active {
    display: flex;
}

.nav-button {
    font-size: 20px;
    font-weight: 1000;
    border: none;
    background-color: #FFF2F2;
    color: #7286D3;
    padding: 10px 30px;
    border-radius: 12px;
    cursor: pointer;
}

.nav-button:hover{
    background-color: #e5e0ff;
    color: #7286D3;
    transition: 0.3s ease-in-out;}

.nav-links.active {
    right: 0;
}

.hamburger.remove {
    display: none;
}

.nav-links .right{
    display: none;
}

@media screen and (max-width:900px) {
    /* .nav-links {
        display: none;
    } */

    #nav-bar .right:not(.nav-links .right) {
        display: none;
    }

    .hamburger {
        display: flex;
        color: #F4EEE0;
        cursor: pointer;
    }

    .hamburger span {
        font-size: 25px;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        right: -250px;
        top: 74px;
        bottom: 0;
        background-color: #e5e0ff;
        padding: 30px 50px;
        transition: 0.6s;
        align-items: center;
    }

    .nav-links li a {
        color: #18181b;
        font-size: 18px;
    }

    .nav-links li {
        padding: 20px;
    }

    .nav-links .right{
        display: flex;
        margin: 50px 0px;
    }

    .nav-links .right button{
        background-color: #7286D3;
        color: #FFF2F2;
    }
}

@media screen and (max-width:400px) {
    .nav-links {
        width: 100%;
        align-items: center;
        padding: 90px 0px;
        right: -350px;
    }
}