* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

button,
span {
    cursor: pointer;
}

body {
    color: #F4EEE0;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
}

#nav-bar {
    background-color: #7286D3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}

.nav-links {
    display: flex;
}

.default-logo {
    width: 150px;
    height: 50px;
    object-fit: cover;
}

.nav-links li {
    padding: 0px 10px;
}

.nav-links li a {
    color: #FFF2F2;
}

.hamburger {
    display: none;
}

/* .hamburger.close {
    display: none;
}*/

.hamburger.active {
    display: flex;
} 

.nav-button {
    font-size: 20px;
    font-weight: 1000;
    border: none;
    background-color: #FFF2F2;
    color: #7286D3;
    padding: 10px 30px;
    border-radius: 12px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #e5e0ff;
    color: #7286D3;
    transition: 0.3s ease-in-out;
}

.nav-links.active {
    right: 0px;
    display: flex;
}

/* .hamburger.remove {
    display: none;
} */

.nav-links .right {
    display: none;
}

/*aniamsyonlu menü*/
#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: #FFF2F2;
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,
#bar3 {
    width: 70%;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}



@media screen and (max-width:900px) {
    /* .nav-links {
        opacity: 0;
    } */

    .hamburger.close {
        display: none;
    }

    .hamburger.active {
        display: block;
    }

    #nav-bar .right:not(.nav-links .right) {
        display: none;
    }

    .hamburger {
        display: flex;
        color: #F4EEE0;
        cursor: pointer;
    }

    .hamburger span {
        font-size: 25px;
    }

    .nav-links {
        flex-direction: column;
        position: fixed;
        right: -250px;
        top: 74px;
        bottom: 0;
        background-color: #e5e0ff;
        padding: 30px 50px;
        transition: 0.6s;
        align-items: center;
    }

    .nav-links li a {
        color: #18181b;
        font-size: 18px;
    }

    .nav-links li {
        padding: 20px;
    }

    .nav-links .right {
        display: flex;
        margin: 50px 0px;
    }

    .nav-links .right button {
        background-color: #7286D3;
        color: #FFF2F2;
    }
}

@media screen and (max-width:400px) {
    .nav-links {
        width: 100%;
        align-items: center;
        padding: 90px 0px;
        display: flex;
        right: -400px;
    }
}